:root {
  /* brand colors */
  --vp-c-brand: #00a3ff;
  --vp-c-brand-light: #00a3ff;
  --vp-c-brand-lighter: #00fadc;
  --vp-c-brand-dark: #00a3ff;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    135deg,
    #00a3ff 0%,
    #00fadc 100%
  );
}

html.dark {
  /* brand colors */

  /* background colors */
  --vp-c-bg: #0a0a1e;
  --vp-sidebar-bg-color: #141428;
  --vp-code-block-bg: #141428;
  --vp-c-bg-light: #141428;
  --vp-c-bg-lighter: #1e1e32;
  --vp-code-bg-color: #1e1e32;
  --vp-c-black-mute: #1e1e32;
  --vp-c-black: #1e1e32;
}